<div id="content-steps" class="container">
    <div class="row">
        <div class="col-sm-4 col-xs-12 col-ms-12">
            <div class="panel">
                <p class="text-center text-primary text-uppercase">An Giang (Châu Đốc,Long Xuyên)  - Cần Thơ ngày <span >26-05-2017</span></p>
                <form id="form-steps" name="form">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="">Chọn giờ khởi hành</label>
                                   <div class="controls">
                                        <i class="fa fa-clock-o"></i>
                                        <select name="idDest" id="idDest" class="form-control  selectpicker">
                                            <option value="">Chọn giờ khởi hành</option>
                                        </select>

                                    </div>
                                  
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="">Chọn điểm lên xe</label>
                                    <div class="controls">
                                        <i class="fa fa-map-marker text-primary"></i>
                                        <select name="idDest" id="idDest" class="form-control  selectpicker">
                                            <option value="">Chọn điểm lên xe</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-ms-12">
                                <a ng-click="prev()" class="btn btn-primary btn-flat"><i class="fa fa-arrow-left icon-flat bg-btn-actived"></i> Quay lại</a>
                                <button type="submit" ui-sref="CheckInfo " class="btn btn-success btn-flat"><i class="fa fa-arrow-right icon-flat bg-success"></i>Tiếp tục</button>
                            </div>
                        </div>
                    </fieldset>

                </form>
            </div>

    </div>
        <div class="col-sm-8 col-xs-12 col-ms-12">

            <div class="panel">

                <div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <strong class="text-uppercase">Số ghế:</strong>
                                    <span ng-repeat="ghe in gheDaChons">
                                        {{ghe}}
                                    </span>
                                </td>
                                <td class="text-right">
                                    <strong class="text-uppercase">Tổng tiền:</strong>
                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

               
                        <table class="table grid-seat table-responsive">
                            <thead>
                                <tr>
                                    <th colspan="5"><p class="text-center text-uppercase text-primary">Sơ đồ Ghế</p></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="col-md-3 col-sm-3 col-xs-3" ng-repeat="tinh in TinhThanhPhos">

                                    <td ng-class="{'gray': tinh.Register, 'aqua': tinh.Chon}" ng-click="toggle()">{{tinh.Id}}</td>

                                </tr>
                               
                            </tbody>

                        </table>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ms-4 text-center">
                                <div class="ordered"></div><span style="background-color:aqua">Đang chọn</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ms-4 text-center">
                                <div class="booked"></div><span style="background-color:chartreuse">Đã đặt</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ms-4 text-center">
                                <div class="nothing"></div><span>Còn trống</span>
                            </div>
                        </div>
                    </div>
                   
                </div>
              
            </div>

    <style>
        .gray {
            background-color: chartreuse;
        }

        .aqua {
            background-color: aqua;
        }
    </style>

        </div>
   

