<section id="body-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col-ms-12">
                <div>
                   

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="booking">
                            <form class="form" name="bookingPartialForm">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                                        <div class="form-group">
                                            <label for="">Điểm khởi hành</label>
                                   
                                            <div class="controls">
                                                <i class="fa fa-bus text-primary"></i>
                                                <select class="form-control selectpicker" name="idOrigin" id="idOrigin"
                                                        ng-options="anhhuy.Station_Id as anhhuy.City for anhhuy in TinhThanhPhos"
                                                        ng-model="tinhThanhId">
                                                    <option value="">Chọn điểm khởi hành</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                                        <div class="form-group">
                                            <label for="">Điểm đến</label>
                                            <div class="controls">
                                                <i class="fa fa-bus text-primary"></i>

                                                <select name="idDest" id="idDest" class="form-control  selectpicker" 
                                                        ng-options="huyentho.Id as huyentho.Name for huyentho in TinhThanhPhos"
                                                        ng-model="tinhThanhId">>
                                                    <option value="">Chọn điểm đến</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                                        <div class="form-group">
                                            <label for="">Ngày khởi hành</label>
                                            <div class="controls">
                                                <i class="fa fa-clock-o text-primary"></i>

                                                <input type="text" name="dDate" placeholder=" dd/mm/yyyy" class="form-control" value="21-05-2017" />
                                                <small><em>Định dạng: dd-mm-yyyy</em></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                                        <div class="form-group">
                                            <label for="">Số lượng vé</label>
                                            <div class="controls">
                                                <i class="fa fa-ticket text-primary"></i>

                                                <input type="number" name="numOfTicket" placeholder="1" value="1" class="form-control" min="1" max="10" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 col-ms-12">
                                        <button ui-sref="CheckTicket" type="button" class="btn btn-primary btn-block btn-flat btn-booking"><i class="fa fa-ticket icon-flat bg-btn-actived"  ></i>Mua vé</button>
                                       
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">

                        </div>

                    </div>

                </div>

            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 col-ms-12"> 
                <img style="width: 100%; height: auto;" src="../../img/banner/bannerbusline.png" />
            </div>

        </div>

    </div>
</section>

<section class="container" id="star-city">
    <h3 class="heading"><i class="fa fa-file-text" aria-hidden="true"></i> Khởi hành từ các thành phố lớn</h3>
    <div class="row">
        <div class="col-md-4 startpoint-block">
            <img src="/Content/img/private/webfutabusline-01.png" />
            <div class="startpoint-text">
                <p>Khởi hành từ: <span>Sài Gòn</span><i> (Xem bản đồ)</i></p>
                <p>Hotline: <span>1900 6067</span></p>
                <p>Điểm đến: Châu Đốc, Cần Thơ, Cà Mau, Đà Lạt, Mũi Né, Qui Nhơn, Nha Trang,...</p>
                <a href="/vi-VN/ve-xe-phuong-trang-lich-trinh.html/#Star-sai-gon">Chi tiết</a>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-4 startpoint-block">
            <img src="/Content/img/private/webfutabusline-02.png" />
            <div class="startpoint-text">
                <p>Khởi hành từ: <span>Đà Lạt</span><i> (Xem bản đồ)</i></p>
                <p>Hotline: <span>0633 58 58 58</span></p>
                <p>Điểm đến: Nha Trang, Đà Nẵng, Huế, Sài Gòn, Cần Thơ, Quy Nhơn,...</p>
                <a href="/vi-VN/ve-xe-phuong-trang-lich-trinh.html/#Star-da-lat">Chi tiết</a>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-4 startpoint-block">
            <img src="/Content/img/private/webfutabusline-03.png" />
            <div class="startpoint-text">
                <p>Khởi hành từ: <span>Nha Trang</span><i> (Xem bản đồ)</i></p>
                <p>Hotline: <span>0583 812 812</span></p>
                <p>Điểm đến: Sài Gòn, Đà Lạt, Đà Nẵng, Huế, Hà Nội, Cần Thơ,...</p>
                <a href="/vi-VN/ve-xe-phuong-trang-lich-trinh.html/#Star-nha-trang">Chi tiết</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 startpoint-block">
            <img src="/Content/img/private/webfutabusline-04.png" />
            <div class="startpoint-text">
                <p>Khởi hành từ: <span>Cần Thơ</span><i> (Xem bản đồ)</i></p>
                <p>Hotline: <span>02923 769 768</span></p>
                <p>Điểm đến: Sài Gòn, Cà Mau, Rạch Giá, Châu Đốc, Đà Lạt,...</p>
                <a href="/vi-VN/ve-xe-phuong-trang-lich-trinh.html/#Star-can-tho">Chi tiết</a>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-4 startpoint-block">
            <img src="/Content/img/private/webfutabusline-05.png" />
            <div class="startpoint-text">
                <p>Khởi hành từ: <span>Đà Nẵng</span><i> (Xem bản đồ)</i></p>
                <p>Hotline: <span>02363 786 786</span></p>
                <p>Điểm đến: Đà Lạt, Sài Gòn, Nha Trang, Hà Nội, Bảo Lộc,...</p>
                <a href="/vi-VN/ve-xe-phuong-trang-lich-trinh.html/#Star-da-nang">Chi tiết</a>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-4 startpoint-block">
            <img src="/Content/img/private/webfutabusline-06.png" />
            <div class="startpoint-text">
                <p>Khởi hành từ: <span>Hà Nội</span><i> (Xem bản đồ)</i></p>
                <p>Hotline: <span>043 864 19 19</span></p>
                <p>Điểm đến: Đà Nẵng, Nam Định,...</p>
                <a href="/vi-VN/ve-xe-phuong-trang-lich-trinh.html/#Star-ha-noi">Chi tiết</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 startpoint-block">
            <img src="/Content/img/private/webfutabusline-07.png" />
            <div class="startpoint-text">
                <p>Khởi hành từ: <span>Hà Tiên - Rạch Giá</span><i> (Xem bản đồ)</i></p>
                <p>Hotline: <span>02973 66 88 66 - 02973 691 691</span></p>
                <p>Điểm đến: Sài Gòn, Cần Thơ,...</p>
                <a href="/vi-VN/ve-xe-phuong-trang-lich-trinh.html/#Star-ha-tien">Chi tiết</a>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-4 startpoint-block">
            <img src="/Content/img/private/webfutabusline-08.png" />
            <div class="startpoint-text">
                <p>Khởi hành từ: <span>Cà Mau - Năm Căn</span><i> (Xem bản đồ)</i></p>
                <p>Hotline: <span>02903 651 651 - 02903 715 715</span></p>
                <p>Điểm đến: Sài Gòn, Cần Thơ,...</p>
                <a href="/vi-VN/ve-xe-phuong-trang-lich-trinh.html/#Star-ca-mau">Chi tiết</a>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-4 startpoint-block">
            <img src="/Content/img/private/webfutabusline-09.png" />
            <div class="startpoint-text">
                <p>Khởi hành từ: <span>Long Xuyên - Châu Đốc</span><i> (Xem bản đồ)</i></p>
                <p>Hotline: <span>02963 98 9999 - 02963 565 888</span></p>
                <p>Điểm đến: Sài Gòn, Cần Thơ,...</p>
                <a href="/vi-VN/ve-xe-phuong-trang-lich-trinh.html/#Star-long-xuyen">Chi tiết</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
   
</section>
